@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins";
  background-color: white;
}

.outer_card {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/topSection-new.png");
  height: 37rem;
  padding-left: 6rem;
}

.intro_card {
  display: flex;
  justify-content: space-between;  
}

.intro_div {
  width: 40rem;
  margin-top: 7rem;
  text-transform: uppercase;
}

.intro_div > h1 {
  color: #4e4e4e;
  font-weight: 600;
}

.intro_div > p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 37px;
}


.apply-button:hover {
  background-color: #da5547 !important;
  color: #fff !important;
}

.img-logo {
  background-color:#f8f8f8;
}

.img-logo > img {
  width: 10rem;
  padding-top: 2.5rem;
}

.img_div > img {
  width: 40rem;
}

.para {
  font-size: 1.2rem;
  padding: 4rem 5rem 1rem 0;
  width: 90%;
}

.apply-button {
  padding: 5px 20px;
  text-transform: uppercase;
  background: #e36456;
  border: #e36456;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width : 1200px){

  .outer_card {
    padding-left: 3rem;
  }

  .img-logo>img {
    width : 9rem;
  }

  .para {
    padding : 2rem 2rem 0 0;
    font-size: 18px;
  }

  .intro_div>h1 {
    font-size: 2rem;
  }

  .intro_div>p {
    font-size: 14px;
  }

  .img_div>img {
    width: 35rem;
  }

  .apply-button {
    font-size: 13px;
  }

}

@media screen and (max-width : 992px){

  .outer_card {
    padding-left: 2rem;
  }

  .img-logo>img {
    width: 8rem;
  }

  .intro_div {
    margin-top: 6rem;
  }

  .para {
    padding: 3rem 0;
    font-size: 16px;
  }

  .intro_div>h1 {
    font-size: 1.8rem;
  }

  .intro_div>p {
    font-size: 12px;
  }

  .img_div>img {
    width: 30rem;
  }

  .apply-button {
    font-size: 13px;
  }

}

@media screen and (max-width : 768px){
  .img-logo>img {
    width: 7rem;
  }

  .para {
    font-size: 14px;
  }

  .outer_card {
    padding-left: 0;
    margin-left: 2rem;
    background-color: #f8f8f8;
  }

  .intro_div>h1 {
    font-size: 1.5rem;
  }

  .intro_div>p {
    font-size: 10px;
  }

  .img_div>img {
    width: 20rem;
  }

  .apply-button {
    font-size: 8px;
  }

  .outer_card {
    height: 30rem;
  }

}

@media screen and (max-width : 600px) {
  .img-logo>img {
    width: 5rem;
  }

  .intro_div {
    margin-top: 4rem;
  }

  .para {
    font-size: 12px;
  }

  .intro_div>h1 {
    font-size: 1rem;
  }

  .intro_div>p {
    font-size: 8px;
  }

  .img_div>img {
    width: 0rem
  }

  .apply-button {
    font-size: 7px;
  }

  .intro_card {
    background-image: none;
  }

  .outer_card {
    height: 25rem;
  }
}