@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins";
  background-color: white;
}

.outer_card {
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_card {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/topSection-new.png");
}

.intro_div {
  width: 40rem;
  margin: 7rem 0rem 0 92px;
  text-transform: uppercase;
}

.intro_div > h1 {
  color: #4e4e4e;
  font-weight: 600;
  margin: 0;
}

.intro_div > p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 37px;
}

.pos-button {
  padding: 10px 20px;
  background-color: #e36456;
  font-size: 12px;
  border: #e36456;
  letter-spacing: 1px;
  border-radius: 8px;
  color: #fff;
}

.pos-button:hover {
  background-color: #da5547 !important;
  color: #fff !important;
}

.img-logo {
  background-color:#f8f8f8;
}

.img-logo > img {
  width: 10rem;
  margin-left: 5.5rem;
  padding-top: 2.5rem;
}

.img_div > img {
  width: 40rem;
}

.para {
  font-size: 1.2rem;
  padding: 4rem 5rem 1rem 5rem;
  width: 90%;
}

.apply-button {
  padding: 5px 20px;
  text-transform: uppercase;
  background: #e36456;
  border: #e36456;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width : 992px){
  .img-logo>img {
    margin-left: 2rem;
    width: 8rem;
  }

  .intro_div {
    margin-left: 2rem;
  }

  .para {
    padding : 2rem 2rem 0 2rem;
    font-size: 16px;
  }

  .intro_div>h1 {
    font-size: 1.8rem;
  }

  .intro_div>p {
    font-size: 12px;
  }

  .img_div>img {
    width: 30rem;
  }

  .positions-btn {
    font-size: 13px;
  }

}

@media screen and (max-width : 768px){
  .img-logo>img {
    margin-left: 0;
    width: 7rem;
  }

  .intro_div {
    margin-left: 0;
  }

  .para {
    padding : 3rem 2rem 0 0;
    font-size: 14px;
  }

  .outer_card {
    padding-left: 2rem;
    background-color: #f8f8f8;
  }

  .intro_div>h1 {
    font-size: 1.5rem;
  }

  .intro_div>p {
    font-size: 10px;
  }

  .img_div>img {
    width: 20rem;
  }

  .positions-btn {
    font-size: 8px;
  }

}

@media screen and (max-width : 600px) {
  .img-logo>img {
    width: 5rem;
  }

  .intro_div {
    margin-top: 4rem;
  }

  .para {
    font-size: 12px;
  }

  .intro_div>h1 {
    font-size: 1rem;
  }

  .intro_div>p {
    font-size: 8px;
  }

  .img_div>img {
    width: 0rem
  }

  .positions-btn {
    font-size: 5px;
  }

  
}