@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.wrapper {
  font-family: "Poppins", sans-serif;
  margin-top: 7rem;
}
section {
  padding: 1rem;
  margin: 3rem auto;
  width: 90%;
}

.job_card {
  width: 22rem;
  /* box-shadow: 0px 1px 8px rgb(0 0 0 / 25%); */
  box-shadow: 0 0 29px -3px #b3b2b2;
  border-radius: 18px !important;
  background-color: white !important;
  border: none !important;
  margin: 1rem;
}

.new-jobs {
  list-style: none;
  display: flex;
  flex-wrap: inherit;
  padding: 0;
  justify-content: space-between;
}

.job_postings {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  padding: 1.5rem !important;
}

.job-header {
  margin-bottom: 40px;
}

.job-header > h1 {
  font-size: 2rem;
}
.job-header > h1,
.card-title,
.card-subtitle {
  color: #4e4e4e;
  font-weight: 600;
}

.btn-actions {
  text-align: center;
}

.apply-button {
  padding: 5px 20px;
  text-transform: uppercase;
  background: #e36456;
  border: #e36456;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (min-width : 320px) and (max-width : 768px){
  .new-jobs {
    justify-content: center;
    margin-left: 1rem;
  }

  .job_card {
    width: 22rem;
  }

  .job-header>h1 {
    padding: 0;
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  section {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width : 768px) and (max-width : 992px){

  .job_card {
    width: 18rem;
  }

  .job-header>h1 {
    padding: 0;
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  .new-jobs {
    margin-left: 2rem;
  }

  section {
    padding: 0;
    margin: 0;
  }
}

@media screen and  (min-width : 992px) and (max-width : 1200px) {
  .job_card {
    width: 16rem;
  }

  .job-header>h1 {
    padding: 0;
    margin-left: 2rem;
    font-size: 1.8rem;
  }
  
  .new-jobs {
    margin-left: 2rem;
  }

  section {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width : 1200px) and (max-width : 1315px) {
  .job_card {
    width: 16rem;
  }
  
}


  


