section {
  padding: 1rem;
  margin: 3rem auto;
  width: 90%;
}

.job_card {
  width: 18rem;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 25%);
  border-radius: 12px !important;
  background-color: white !important;
  border: none !important;
  margin: 1rem;
}

.job_postings {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  padding: 1.5rem !important;
}

.job-header {
  margin-bottom: 40px;
}

.job-header > h1,
.card-title,
.card-subtitle {
  color: #4e4e4e;
}

.btn-actions {
  text-align: center;
}

.apply-button {
  padding: 5px 20px;
  text-transform: uppercase;
  background: #e36456;
  border: #e36456;
  border-radius: 0.25rem;
  color: #fff;
  letter-spacing: 2px;
}
